<section class="section background">
  <div class="section__title">About me:</div>
  <div class="section__content">
    <p>
      I'm currently a Firmware Engineer at
      <a class="underline-link" href="https://www.infinera.com/" target="_blank">Infinera</a> building things for the Firmware team with some awesome people. I am on track to graduate from
      <a class="underline-link" href="http://www.uc.edu/" target="_blank">University of Cincinnati</a> after completing my B.S. in Computer Science (with Embeded Systems Concentration) and M.S. with the Class of 2023, from 
      <a class="underline-link" href="https://ceas.uc.edu/" target="_blank"> College of Engineering and Applied Sciences</a> :)
    </p>

    <p>
      As an engineer, I enjoy bridging the gap between innovation and design &mdash; combining my technical knowledge
      with my keen eye for perfection to create valuable tools.
    </p>

    <p>
      When I'm not working, I'm probably painting, listening to music, travelling around, or crossing off another item on my SCRUM board.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
