<section class="section background">
  <div class="section__title">About me:</div>
  <div class="section__content">
    <p>
      I'm currently a R&D Engineering Co-Op (intern) at
      <a class="underline-link" href="https://www.infinera.com/" target="_blank">Infinera</a> building things for the Firmware team with some awesome people. I am on track to graduate from
      <a class="underline-link" href="http://www.uc.edu/" target="_blank">University of Cincinnati</a> after completing my B.S. in Computer Science (with Embeded Systems Concentration, and Maths minor) and M.S. with the Class of 2023, from 
      <a class="underline-link" href="https://ceas.uc.edu/" target="_blank"> College of Engineering and Applied Sciences</a> :)
    </p>

    <p>
      As an engineer, I enjoy bridging the gap between innovation and design &mdash; combining my technical knowledge
      with my keen eye for perfection to create valuable tools.
    </p>

    <p>
      When I'm not working, I'm probably painting, listening to music, travelling around, or crossing off another item on my SCRUM board.
    </p>
<p>
  

</p>
<p>
  

</p>

<br>
<br><p>	<img src="{{site.baseurl}}/img/aasbR.png" alt="As Abobe, So Below."> </p>
  </div>
<br>
<div class="section__title">A tribute to UC's Co-Op program:</div>

  <div class="section__content">
<br>
    <p>
	I joined UC in fall '18, as a CS student with a concentration on embedded systems and microfinance as my elective studies.
    </p>
    <p>
	The amazing thing about UC is the Co-Op program that has helped me achieve the professional experience that is quite rare in the education demography i.e. a second-year student. I joined Infinera, a Silicon Valley telecom company, with the help of UC's Co-Op program and support from my advisors. Joining Infinera launched me forward by quite a bit in achieving my career goals because I did not just learn about embedded systems, but worked and delivered high priority projects related to such!
    </p>
    <p>
	Having all these said, my journey was not all rainbows and unicorns, I had a super hard time transitioning into college life, especially being an international student. The only thing I would change if I could go back to my initial freshman years would be to tell myself to stop buying unlimited meal plan from UC and use that money to buy more Chipotle XD (because food affects my mood quite a bit, no offense to UC's meal-plan).
    </p>
    <p>
	I am planning on keeping focus narrow on embedded systems studies and also get a couple classes on microeconomics to help me with my daily trading (I usually trade SPY and Blue-Chip).
    </p>
  </div>

</section>
