<section class="section featured-projects">
  <div class="section__title">My Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://colab.research.google.com/drive/1EMvokUcPU1LJ8SvsWKLiEk9whFvVUWi3" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/mareep-raljmakeodid/SignLanguage_ML" target="_blank">Sign Language ML</a>
        </div>
        <p>A Machine Learning Model trained on American sign language Dataset to predict the letters or numbers from a picture of a hand doing a certain sign.
          
           With the given Quick Predictor python script, you can use a pretrained model to classify a given picture of a hand sign to predict what letter / number is actually signified.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/mareep-raljodid/BLAME-er-x.0" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/mareep-raljodid/BLAME-er-x.0" target="_blank">BLAME-er-x.0</a>
        </div>
        <p>A CLI ENCRYPTION Application, written in Rust, uses Honey Encryption Method to encrypt message.
          Digests the required string, text file, object with HASH and can verify a HASH with another string, text file, object. Currently Implementing Honey Encryption Method.
          Currently woring on the Machine Learning script to generate the Honeys. </p>
      </figcaption>
    </div>
  </div>
</section>
