<header class="intro">
  <h1 class="intro__hello">Hey there!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Raj</span>, an aspiring future-driven Machine Learning / Artificial Intelligence Engineer focused on building the first AGI (Artificial General Intelligence) &amp; its successful positive integration with the Earth's Ecosystem 
    <span class="emoji technologist"></span>
  </h2>
  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:bandoprp@mail.uc.edu" target="_blank" class="highlight-link">bandoprp@mail.uc.edu</a> or </a>
      <a href="https://www.linkedin.com/in/rajdeep-bandopadhyay/" target="_blank" class="highlight-link">connect with me on LinkedIn</a>.</a>
    </span>
  </h3>
</header>
